#scipy

numpy
matplotlib
alpaca-trade-api
pandas<0.25
asyncio
scikit-learn

# -e alpaca-trade-api-python
#-e git+git@github.com:siran/alpaca-trade-api-python.git@master#egg=alpaca_trade_api

pylint

#money-lib
#mypy
tqdm

